<div class="item-chat item-avatar item-remove-animate item-icon-right"
     type="item-text-wrap">
    <img class="list-item-picture" ng-src="{{ chat.picture }}">
    <h2>
        <b>{{ chat.title }}</b>
        <span class="item-note"
              style="padding-top: 4px;">
            {{ chat.lastMessage.createdAt | date : 'dd/MM/yy h:mm a' }}
        </span>
    </h2>
    <div>
        <span class="chat-status"
              ng-class="chat.status == 'open' ? 'status-open' :
              (chat.status == 'closed' ? 'status-closed' : 'status-other')">
            {{chat.status}}
        </span>
        <p class="last-message">{{ chat.lastMessage.message }}</p>
    </div>
    <i class="icon ion-chevron-right icon-accessory"></i>
</div>