<ion-view view-title="{{ 'CHAT_TITLE' | translate }}">
    <ion-nav-bar class="bar-stable">
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <button ng-if='canCreateChat' class="button button-icon icon ion-plus" ng-click="addChat()"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <ion-list>
            <ion-item id="chats"
                      ng-repeat="chat in chats"
                      ui-sref="menu.chat({chatId: chat._id})">
                <chat-info chat="chat"></chat-info>
                <ion-option-button ng-if="canModifyStatus && chat.status == 'open'"
                                   ng-click="modifyStatus(chat._id, 'closed'); $event.stopPropagation();"
                                   stop-event="click"
                                   class="button-assertive">
                    {{ 'CLOSE' | translate }}
                </ion-option-button>
                <ion-option-button ng-if="canModifyStatus && chat.status == 'closed'"
                                   ng-click="modifyStatus(chat._id, 'open'); $event.stopPropagation();"
                                   class="button-balanced">
                    {{ 'OPEN' | translate }}
                </ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>

