<div class="item item-body">
    <p>
        {{item.target | capitalize}}: {{item.title}}
    </p>
</div>
<div class="item item-body">
    <p>
        {{item.description}}
    </p>
</div>
<div class="item item-body" ng-switch="item.formType">
    <span ng-if="item.targetValue-item.raisedValue > 0">
        {{ item.target == "absence" ? "People present:" : "We still need" }} {{(item.targetValue - item.raisedValue) | number}}/{{item.targetValue}}!
    </span>
    <span ng-if="item.targetValue-item.raisedValue <= 0">
        We already have enough contributing people.
    </span>
</div>
<div class="item item-body"
     ng-if="(item.target == 'driving' || item.target == 'other') && !item.hasContributed && item.targetValue-item.raisedValue > 0">
    <div>
        <label class="item item-input item-select">
            <div class="input-label">
                Contribution:
            </div>
            <input ng-model="item.currentContribution" type="text" placeholder="1"><br>
        </label>
    </div>
</div>

<div class="item item-body" ng-switch on="item.hasContributed">
    <input ng-model="item.currentContribution" ng-if="item.target == 'laundry' || item.target == 'absence'" type="hidden" ng-value="1">
    <button class="button button-outline button-balanced"
            ng-click="signUp()"
            ng-switch-when="false">
        {{ item.target == "absence" ? "Absent" : "Contribute" }}
    </button>
    <button class="button button-outline button-assertive contributed"
            ng-click="withdrawContribution()"
            ng-switch-when="true">
        {{ item.target == "absence" ? "I will be present" : "Withdraw your contribution" }}
        <span ng-if="item.target == 'driving' || item.target == 'other'">: {{item.myContribution}}</span>
    </button>
</div>

