<div class="item item-body">
    <p>
        {{item.title}}
    </p>
</div>
<div class="item item-body">
    <p>
        {{item.description}}
    </p>
</div>
<div class="item item-body" ng-switch="item.formType">
       
        <span ng-if="item.targetValue-item.raisedValue > 0 && item.target != 'presence'">We will be missing {{(item.targetValue - item.raisedValue) | number}}  <br/></span>
        
        <!-- special text for presence/absence -->
        <span ng-if="item.targetValue-item.raisedValue > 0 && item.target == 'presence'">We will be with {{(item.targetValue - item.raisedValue) | number}} persons. <br/></span>  
        <span ng-if="item.targetValue-item.raisedValue > 0 && item.target == 'presence'">{{(item.raisedValue) | number}} will be absent. <br/></span>  

        <span ng-if="item.targetValue-item.raisedValue <= 0">We have enough people contributing<br/></span> 

</div>

<div class="item item-body">

    <div>
        <label class="item item-input item-select"
               ng-if="(item.target == 'driving' || item.target == 'other') && item.hasContributed == false && item.targetValue-item.raisedValue > 0" >
            <div class="input-label">
                Contribution:
            </div>
              <input ng-model="item.currentContribution" type="text" placeholder="value"><br>
        </label>
    </div>

    <input ng-model="item.currentContribution" ng-if="item.target == 'laundry' || item.target == 'presence'" type="hidden" value="1">
        <button class="button button-outline button-balanced"
                ng-show="!item.hasContributed && (item.target == 'driving' || item.target == 'other')"
                ng-click="(item.currentContribution > 0) ? signUp(item.currentContribution) : showAlert()">
            Contribute
        </button>


        <button class="button button-outline button-balanced"
                ng-show="!item.hasContributed && item.target == 'laundry'"
                ng-click="signUp('1')">
            Contribute
        </button>


        <button class="button button-outline button-balanced"
                ng-show="!item.hasContributed && item.target == 'presence'"
                ng-click="signUp('1')">
            I will be absent
        </button>
   
        <button class="button button-outline button-assertive"
                ng-show="item.myContribution > 0"
                ng-click="withdrawContribution()">
            Withdraw your contribution
        </button>
        <br>
        <span ng-if="item.myContribution > 0 && item.target != 'presence'">You are contributing: {{item.myContribution}} <br></span>
</div>

