<div class="item item-divider">
    {{item.type}} / {{item.title}}
    <i class="fa fa-expand" ui-sref="menu.formdir({itemID: item._id})" id="icon-expand" aria-hidden="true"></i>
</div>
<div class="item item-body">
    <p>
        {{item.description}}
    </p>
</div>
<div class="item item-body" ng-switch="item.formType">
        We need {{(item.targetValue - item.raised) | number}}! <br/>
        Already registered: {{item.raised | number}}
</div>
<label class="item item-input item-select">
    <div class="input-label">
        Number of seats:
    </div>
    <select>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3" selected>3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
    </select>
</label>
<div class="item item-body">
    <p>
        <button class="button button-outline button-balanced" ng-click="signUp()">
            Accept
        </button>
        <button class="button button-outline button-assertive" ng-click="refuse()">
            Refuse
        </button>
    </p>
</div>
