<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">{{ 'NEW_PRACTICALITY' | translate }}</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="closeModal()">{{ 'CLOSE' | translate }}</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="list">
            <div class="item item-input item-label">
                <span class="input-label">
                    {{ 'SELECT_TYPE' | translate }}:
                </span>
                <select ng-model="newItem.target">
                    <option ng-selected="true" disabled selected>{{ 'SELECT' | translate }}</option>
                    <option value="laundry" selected>{{ 'LAUNDRY' | translate }}</option>
                    <option value="driving">{{ 'DRIVING' | translate }}</option>
                    <option value="absence">{{ 'ABSENCE' | translate }}</option>
                    <option value="other">{{ 'OTHER' | translate }}</option>
                </select>
            </div>
            <div class="item item-input item-label" style="height: 45px">
                <span class="input-label">
                    {{ 'REPEAT_INTERVAL' | translate }}
                </span>
                <select ng-model="newItem.repeatInterval" >
                    <option ng-selected="true" disabled selected>{{ 'SELECT' | translate }}</option>
                    <option value="daily" selected>{{ 'DAILY' | translate }}</option>
                    <option value="weekly">{{ 'WEEKLY' | translate }}</option>
                    <option value="fourweeks">{{ 'MONTHLY' | translate }}</option>
                </select>
                <div style="position: absolute;right: 10px;top:0;" >
                  <a class="button button-icon icon ion-ios-help-outline"
                     ng-click="showAlertRepeatInterval()" ng-if="!item._id"></a>
                </div>
            </div>
            <div class="item item-input item-label">
                <span class="input-label">{{ 'TITLE' | translate }}</span>
                <input ng-model="newItem.title" type="text" placeholder="{{ 'TITLE' | translate }}">
            </div>
            <div class="item item-input item-floating-label">
                <span class="input-label">{{ 'DESCRIPTION' | translate }}</span>
                <textarea ng-model="newItem.description" rows="3" placeholder="{{ 'DESCRIPTION' | translate }}"></textarea>
            </div>
            <div class="item item-input item-label">
                <span class="input-label">{{ 'TARGET' | translate }}:</span>
                <input ng-model="newItem.targetValue" type="number" placeholder="{{ 'TARGET' | translate }}"><br>
                <div style="position: absolute;right: 10px;top:0;" >
                    <a class="button button-icon icon ion-ios-help-outline"
                       ng-click="showAlertTargetValueInfo()" ng-if="!item._id"></a>
                </div>
            </div>
            <button ng-disabled="!newItem.target && !newItem.title" ng-click="edit(); addItem()"
                    class="button button-block button-positive">
                {{ postBtn | translate }}
            </button>
        </div>
    </ion-content>
</ion-modal-view>