<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">New practicality form</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="closeModal()">Close</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="list">
            <div class="item item-input item-label">
                <span class="input-label">
                    Select type:
                </span>
                <select ng-model="newItem.target">
                    <option ng-selected="true" disabled selected>Select your option</option>
                    <option value="laundry" selected>Laundry</option>
                    <option value="driving">Driving</option>
                    <option value="presence">Presence</option>
                    <option value="other">Other</option>
                </select>
            </div>
            <div class="item item-input item-label">
                <span class="input-label">
                    Repeat interval:
                </span>
                <select ng-model="newItem.repeatInterval" >
                    <option ng-selected="true" disabled selected>Select your option</option>
                    <option value="daily" selected>Daily</option>
                    <option value="weekly">Weekly</option>
                    <option value="fourweeks">4 Weeks</option>
                </select>
            </div>
            <div class="item item-input item-label">
                <span class="input-label">Title</span>

                <input ng-model="newItem.title" type="text" placeholder="Title">
            </div>
            <div class="item item-input item-label">
                <span class="input-label">Description:</span>
                <input ng-model="newItem.description" type="text" placeholder="Description">

            </div>
            <div class="item item-input item-label">
                <span class="input-label">Target value:</span>
                <input ng-model="newItem.targetValue" type="number" placeholder="Target value"><br>
                <a class="button button-icon icon ion-help" style="padding-right:15px;" ng-click="showAlertTargetValueInfo()"></a>
            </div>
            <button ng-disabled="!newItem.target && !newItem.title" ng-click="edit(); addItem()" class="button button-block button-positive">
                {{ postBtn }}
            </button>
        </div>
    </ion-content>
</ion-modal-view>