<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">New hero</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="closeModal()">Close</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="list">
            <label class="item item-input item-floating-label">
                <span class="input-label">Title</span>
                <input ng-model="newItem.title" type="text" placeholder="Title">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Description</span>
                <textarea ng-model="newItem.description" rows="3" placeholder="Description"></textarea>
            </label>
            <button ng-click="getPicture()" class="button button-block button-positive">
                Get picture from gallery
            </button>
          <div ng-if="image" style="text-align: center; font-weight: bold; font-size: 15px; color:#404040;">Your uploaded picture:</div>
              <div id="picture">
                <img src={{image}} style="max-height:200px; max-width:200px; margin-left:auto; margin-right:auto; display: block; border: 3px dashed #ccc;" ng-disabled="!image">
              </div>
            <button ng-disabled="!newItem.title && !newItem.description" ng-click="edit(); addItem()" class="button button-block button-positive">
                {{ postBtn }}
            </button>
        </div>
    </ion-content>
</ion-modal-view>
