<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">Nieuwe Hero</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="closeHero()">Afsluiten</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="list">
            <label class="item item-input item-floating-label">
                <span class="input-label">Title</span>
                <input ng-model="newHero.title" type="text" placeholder="Title">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Description</span>
                <input ng-model="newHero.text" type="text" placeholder="Description">
            </label>
            <button ng-disabled="!newHero.text && !newHero.title" ng-click="hero()" class="button button-block button-positive">
                Post
            </button>
        </div>
    </ion-content>
</ion-modal-view>
