<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">New poll</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="closeVoting()">Close</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="list">
            <label class="item item-input item-floating-label">
                <span class="input-label">Title</span>
                <input ng-model="newVoting.title" type="text" placeholder="Title">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Deadline</span>
                <input ng-model="newVoting.deadline" type="date">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Description</span>
                <input ng-model="newVoting.description" type="text" placeholder="Description">
            </label>
            <label class="item">
                <span class="input-label">Intermediate public</span>
                <input type="checkbox" ng-model="newVoting.intermediatePublic">
            </label>
            <label class="item">
                <span class="input-label">Final public</span>
                <input type="checkbox" ng-model="newVoting.finalPublic">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Number of voters:</span>
                <input ng-model="newVoting.nrVoters" type="number" placeholder="Number of voters">
            </label>
            <button ng-disabled="!newVoting.title && !newVoting.deadline" ng-click="addVoting()" class="button button-block button-positive">
                Post
            </button>
        </div>
    </ion-content>
</ion-modal-view>