<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">Poll</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="closeVoting()">Close</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="list">
            <label class="item item-input item-select">
                <div class="input-label">
                    Training
                </div>
                <select ng-model="newVoting.training_id">
                    <option value="">Select a training</option>
                    <option ng-repeat="training in trainings" value="{{training.trId}}">{{training.date | date:'MM/dd/yyyy @ h:mma' }}</option>
                </select>
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Title</span>
                <input ng-model="newVoting.title" type="text" placeholder="Title">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Deadline</span>
                <input ng-model="newVoting.deadline" type="date" min="{{getCurrentDateISO()}}">
            </label>
            <!--<label class="item item-input item-floating-label">-->
                <!--<span class="input-label">Description</span>-->
                <!--<input ng-model="newVoting.description" type="text" placeholder="Description">-->
            <!--</label>-->
            <label class="item">
                <span class="input-label">Show intermediate results to the team</span>
                <input type="checkbox" ng-model="newVoting.intermediatePublic">
            </label>
            <label class="item">
                <span class="input-label">Show final results to the team</span>
                <input type="checkbox" ng-model="newVoting.finalPublic">
            </label>
            <button ng-disabled="!newVoting.title || !newVoting.deadline || !newVoting.training_id"
                    ng-click="addVoting()" class="button button-block button-positive">
                {{ postBtn }}
            </button>
        </div>
    </ion-content>
</ion-modal-view>