<div class="item item-divider">
    {{item.type}}
    <i class="fa fa-expand" ui-sref="menu.voting({itemID: item._id})" id="icon-expand" aria-hidden="true"></i>


</div>
<div class="item item-body">
    <h2 id="polls-heading2">{{item.title}}</h2>
    <p>
        {{item.description}}
    </p>
</div>
<div class="item item-body">
    <p>
        Deadline: {{item.deadline}}
    </p>
</div>
<form class="list">
    <ion-radio ng-repeat="exercise in item.exercises" ng-value="exercise.id" ng-model="item.selectedValue">
        <img src="{{exercise.image}}" alt="" >
        {{exercise.name}}
    </ion-radio>
</form>
<div class="item item-body">
    <canvas id="bar" class="chart chart-bar" chart-data="data" chart-labels="labels"></canvas>
</div>
<div class="item item-body">
    <p>
        <button class="button button-outline button-balanced" ng-click="vote(item._id, item.type, item.selectedValue)">
            Vote! {{hasVoted}}
        </button>
    </p>
</div>