<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">New Practicality</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="closePracticality()">Close</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="list">
            <label class="item item-input item-floating-label">
                <span class="input-label">Name</span>
                <input ng-model="newPracticality.name" type="text" placeholder="Name">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Description</span>
                <input ng-model="newPracticality.description" type="text" placeholder="Description">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Required amount of people</span>
                <input ng-model="newPracticality.amount" type="text" placeholder="Amount">
            </label>
            <button ng-disabled="!newPracticality.name && !newPracticality.amount" ng-click="practicality()" class="button button-block button-positive">
                Post
            </button>
        </div>
    </ion-content>
</ion-modal-view>