<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">New Post</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="closePost()">Close</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="list list-inset">
            <label class="item item-input">
                <textarea ng-model="newPost.message" type="text" placeholder="Message" rows="4"></textarea>
            </label>
            <button ng-disabled="!newPost.message" ng-click="post()" class="button button-block button-positive">
                Create
            </button>
        </div>
    </ion-content>
</ion-modal-view>
