<ion-view view-title="Home">
    <ion-nav-bar class="bar-stable">
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <div>
              <button class="button button-icon icon ion-android-funnel" ng-click="openFilter()"> </button>
            </div>
        </ion-nav-buttons>
    </ion-nav-bar>
    <div ng-show="showFilter" class="filter-box">
        <div class="item item-divider">
            Filter on:
        </div>
        <ion-list>
            <ion-checkbox ng-repeat="type in itemTypes"
                          ng-checked="type.checked">
                {{type.name}}
            </ion-checkbox>
        </ion-list>
    </div>
    <div ng-show="showFilter" ng-click="openFilter()" class="black-bg"></div>
    <ion-content>
        <div id="feeditems">
            <div class="list card" ng-repeat="item in items" ng-switch="item.type" ng-controller="ItemCtrl">
                <post item="item" ng-switch-when="Post"></post>
                <formdir item="item" ng-switch-when="Form"></formdir>
                <voting item="item" ng-switch-when="Voting"></voting>
                <hero item="item" ng-switch-when="Hero"></hero>
            </div>
        </div>
    </ion-content>
    <div class="tabs tabs-icon-only">
        <a class="tab-item" ui-sref="menu.polls">
            <i class="icon ion-chatbubbles"></i>
        </a>
        <a class="tab-item" ng-controller="popoverCtrl">
            <i class="icon ion-plus" ng-click="openPopover($event)"></i>
        </a>
        <a class="tab-item">
            <i class="icon ion-edit"></i>
        </a>
    </div>
</ion-view>