<ion-view view-title="Home">
    <ion-nav-bar class="bar-stable">
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <div ng-controller="popoverCtrl">
              <button class="button button-icon icon ion-android-funnel" ng-click="openPopover($event)"> </button>
            </div>
        </ion-nav-buttons>
    </ion-nav-bar>

    <ion-content>
        <div id="feeditems">
                <div class="list card">
                    <div class="item item-divider">
                        Practicalities
                    </div>
                    <div class="item item-body">
                        <p>
                            Driving to the match on Saturday which takes place in Utrecht.
                        </p>
                    </div>
                    <label class="item item-input item-select">
                        <div class="input-label">
                            Number of seats:
                        </div>
                        <select>
                            <option>1</option>
                            <option>2</option>
                            <option selected>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                        </select>
                    </label>
                    <div class="item item-body">
                        <p>
                            <button class="button button-outline button-balanced">
                                Confirm
                            </button>
                            <button class="button button-outline button-assertive">
                                Decline
                            </button>
                        </p>
                    </div>
                </div>
            <div class="list card" ng-repeat="item in items | orderBy:'timestamp':true" ng-switch="item.type">
                <div class="item item-body" ng-controller="ItemCtrl">
                    <post item="item" ng-switch-when="Post"></post>
                    <practicality item="item" ng-switch-when="Practicality"></practicality>
                    <voting item="item" ng-switch-when="Voting"></voting>
                </div>
            </div>
        </div>
    </ion-content>
    <div class="tabs tabs-icon-only">
        <a class="tab-item" ui-sref="menu.polls">
            <i class="icon ion-chatbubbles"></i>
        </a>
        <a class="tab-item">
            <i class="icon ion-plus"></i>
        </a>
        <a class="tab-item">
            <i class="icon ion-edit"></i>
        </a>
    </div>
</ion-view>