<ion-view view-title="Posts" id="feed">
    <ion-nav-bar class="bar-stable">
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <button class="button button-icon icon ion-plus-round" ng-click="openPopover($event)"> </button>
        </ion-nav-buttons>
    </ion-nav-bar>

    <ion-content >
        <div id="feeditems">
            <div class="list card" ng-repeat="post in posts" ng-switch="post.type">
                <div class="item item-body">
                    <p>
                        {{post.message}}
                    </p>
                    <p ng-switch-when="2">
                        {{post.smth}}
                    </p>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>