<ion-view title="Login" style="background-color:#FFFFFF;">
    <ion-content padding="true" style="background: url(/img/football-bg.jpg) no-repeat center;background-size:cover;" class="has-header">
        <form class="list">
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="">
                </label>
            </ion-list>
            <div class="spacer" style="width: 300px; height: 22px;"></div>
            <a ui-sref="menu.home" id="login-button5" style="font-size:18px;" class="button button-positive  button-block">Log in</a>
        </form>
    </ion-content>
</ion-view>