<ion-view title="Polls" id="page1">
    <ion-content padding="true" class="has-header">
        <h2 id="polls-heading2" style="color:#3E6DA0;font-weight:600;">What is your favourite sport?</h2>
        <form class="list">
            <ion-radio name="Football">Basketball</ion-radio>
            <ion-radio name="Football">Football</ion-radio>
            <ion-radio name="Football">Cricket</ion-radio>
            <ion-radio name="Football">Volleyball</ion-radio>
        </form>
        <form class="list">
            <h2 id="polls-heading3" style="color:#3E6DA0;font-weight:600;">Do you love Nanne?</h2>
            <ion-radio name="Football">Yes</ion-radio>
            <ion-radio name="Football">No</ion-radio>
            <ion-radio name="Football">Maybe</ion-radio>
            <ion-radio name="Football">He's gorgeous</ion-radio>
        </form>
    </ion-content>
</ion-view>