<style>.popover { min-width: 240px; }</style>
<ion-popover-view>
    <ion-header-bar>
        <h1 class="title">Select item to add</h1>
        <button class="button button-icon icon ion-minus-round" ng-click="closePopover($event)"> </button>
    </ion-header-bar>
    <ion-content>
        <div ng-controller="postCtrl">
            <span class="item" ng-click="openPost(); closePopover()">
                Create new Post
            </span>
        </div>
        <div ng-controller="formCtrl">
            <span class="item" ng-click="openForm(); closePopover()">
                Create new Form
            </span>
        </div>
        <div ng-controller="votingCtrl">
            <span class="item" ng-click="openVoting(); closePopover()">
                Create new Voting
            </span>
        </div>
        <div ng-controller="heroCtrl">
            <span class="item" ng-click="openHero(); closePopover()">
                Create new Hero
            </span>
        </div>
    </ion-content>
</ion-popover-view>