<ion-view view-title="Instellingen">
    <ion-content padding="true" class="has-header">
        <form class="list main-content">
            <ion-toggle toggle-class="toggle-positive">Send push notifications</ion-toggle>
            <label class="item item-input item-select">
                <div class="input-label">
                    Choose your language:
                </div>
                <select>
                    <option>Dutch</option>
                    <option selected>English</option>
                </select>
            </label>
            <ion-toggle checked="true">Some setting over here here</ion-toggle>
            <ion-toggle toggle-class="toggle-positive">Send push notifications</ion-toggle>
        </form>
    </ion-content>
</ion-view>