<ion-view view-title="Chats">
    <ion-nav-bar class="bar-stable">
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <button class="button button-icon icon ion-plus" ng-click="addChat()"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <ion-list>
            <ion-item ng-repeat="chat in chats"
            class="item-chat"                       ui-sref="menu.chat({chatId: chat._id})">
                <chat-info chat="chat" ></chat-info>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>

