<ion-view view-title="Home">
    <ion-nav-bar class="bar-stable">
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <button class="button button-icon icon ion-android-funnel" ng-click="openFilter()"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <div ng-show="showFilter" class="filter-box">
        <div class="item item-divider">
            Filter on:
        </div>
        <ion-list>
            <ion-checkbox ng-repeat="type in itemTypes"
                          ng-checked="type.checked"
                          ng-model="type.checked"
                          ng-change="type.checked">
                {{type.name}}
            </ion-checkbox>
        </ion-list>
    </div>
    <div ng-show="showFilter" ng-click="openFilter()" class="black-bg"></div>
    <ion-content>
        <div id="feeditems" class="main-content">
            <div ng-repeat="item in items" ng-switch="item.type" ng-controller="ItemCtrl">
                <div class="list card {{item.sticky}}" style="margin-top: 10px; margin-bottom: 10px;">
                    <post item="item" ng-switch-when="Post"></post>
                    <formdir item="item" ng-switch-when="Form"></formdir>
                    <voting item="item" ng-switch-when="Voting"></voting>
                    <hero item="item" ng-switch-when="Heroes"></hero>
                </div>
            </div>
        </div>
    </ion-content>

    <div class="tabs tabs-icon-only" ng-if="showCoachBar">
        <a class="tab-item" ui-sref="menu.polls">
            <i class="icon ion-chatbubbles"></i>
        </a>
        <a class="tab-item" ng-controller="popoverCtrl">
            <i class="icon ion-plus" ng-click="openPopover($event)"></i>
        </a>
    </div>
</ion-view>