<ion-view view-title="{{ 'HOME' | translate}}">
    <ion-nav-bar class="bar-stable">
        <ion-nav-buttons side="left">
            <button class="button button-icon icon ion-navicon" menu-toggle="left"></button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <button class="button button-icon icon ion-android-funnel" ng-click="openFilter()"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <div ng-show="showFilter" class="filter-box">
        <div class="item item-divider">
            {{ 'FILTER_ON' | translate }}
        </div>
        <ion-list>
            <ion-checkbox ng-repeat="type in itemTypes"
                          ng-checked="type.checked"
                          ng-model="type.checked"
                          ng-change="type.checked">
                {{ type.name | translate }}
            </ion-checkbox>
        </ion-list>
    </div>
    <div ng-show="showFilter" ng-click="openFilter()" class="black-bg"></div>
    <ion-content scrolly='loadMore()' threshold="50">
        <!-- Memorial comment for koen's first commit-->
        <!-- Add div infinite-scroll=loadMore() here-->
        <div id="feeditems" class="main-content">
            <div ng-repeat="item in items" ng-switch="item.type" ng-if="item" ng-controller="generalItemCtrl">
                <div class="list card{{item.sticky ? ' sticky' : ''}}" ng-show="showItem">
                    <div class="item item-divider feed-icon"
                         ng-click="showFullItem($event)">
                        <img src="/feed_icons/{{ itemType.icon | lowercase }}" height="30px" alt=""/>
                        {{ itemType.name | translate }} <span ng-if="item.type == 'Voting' && hasEnded">{{ 'CLOSED' | translate }}</span>
                        <i class="icon ion-more" ng-click="openPopover($event)" id="icon-expand" ng-if="showEdit || showDelete"></i>
                        <i class="icon ion-arrow-shrink show-full" ng-if="isFull" id="icon-expand"></i>
                    </div>
                    <formdir item="item" ng-switch-when="Form"></formdir>
                    <voting item="item" ng-switch-when="Voting"></voting>
                    <hero item="item" ng-switch-when="Heroes"></hero>
                    <sponsoring item="item" ng-switch-when="Sponsoring"></sponsoring>
                    <div class="gradient" ng-click="showFullItem($event)">
                        {{ 'READ_MORE' | translate }} <i class="icon ion-android-arrow-down"></i>
                    </div>
                    <div class="item read-less" ng-click="showFullItem($event)">
                        {{ 'READ_LESS' | translate }} <i class="icon ion-android-arrow-up"></i>
                    </div>
                </div>
            </div>
            <div class="list card" ng-show="!items.length" style="height: auto;">
                <div class="item item-body">
                    <p>
                        {{ 'NO_ITEMS_MESSAGE' | translate }}
                    </p>
                </div>
            </div>
        </div>
    </ion-content>
    <a class="tab-item coachBar" ng-controller="addNewItemCtrl" ng-show="showAddItem">
        <i class="icon ion-plus" ng-click="openPopover($event)"></i>
    </a>
</ion-view>