<ion-view title="Forgot Password" style="background-color:#FFFFFF;">
    <ion-nav-bar>
        <ion-nav-back-button class="button-clear" ng-click="goBack()">
            <i class="ion-arrow-left-c"></i> Back
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content padding="true" class="has-header">
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">Your email</span>
                    <input type="email" name="email" ng-model="forgotUser.email">
                </label>
            </ion-list>
            <div class="spacer" style="width: 300px; height: 22px;"></div>
            <div class="bg white">
                Enter your email above and click "Send email with token". In your email you can find a token that
                you have to type below together with your new password.
            </div>
            <a ng-click="forgotPassword()" id="send-token" class="button button-positive  button-block">Send email with token</a>
            <label class="item item-input">
               <span class="input-label">Your new password</span>
              <input type="text" name="newPassword" ng-model="forgotUser.newPassword"  />
            </label>
            <label class="item item-input">
                <span class="input-label">Token</span>
                <input type="text" name="token" ng-model="forgotUser.token"  />
            </label>
            <a ng-click="resetPassword()" id="reset-password" class="button button-positive  button-block">Reset password</a>
    </ion-content>
</ion-view>