<ion-view title="Forgot Password" style="background: url(/app/img/football-bg.jpg) no-repeat center;background-size:cover;">
    <ion-nav-bar class="bar-stable">
        <ion-nav-back-button class="button-clear">
            <i class="ion-arrow-left-c"></i>
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content padding="true" class="has-header main-content">
        <div class="bg white">
            Enter your email below and press "Send password reset email". An email will be sent with further instructions.
        </div>
        <div class="spacer" style="width: 300px; height: 22px;"></div>
        <ion-list>
            <label class="item item-input">
                <span class="input-label">Your Email</span>
                <input type="email" name="email" ng-model="forgotUser.email">
            </label>
        </ion-list>       
        <a ng-click="forgotPassword()" id="send-token" class="button button-positive  button-block">Send password reset email</a>
    </ion-content>
</ion-view>