<ion-popover-view style="height: 164px !important; margin-top: 0px;">
    <ion-content>
        <div class="list">
            <a class="item" ng-if="showEdit" ng-click="editItem(); closePopover()">
                <i class="icon ion-edit"></i> Edit
            </a>
            <a class="item" ng-if="showDelete" ng-click="deleteItem(item._id); closePopover()">
                <i class="icon ion-ios-trash"></i> Delete
            </a>
            <a class="item" ng-if="showEdit" ng-click="stickyItem(); closePopover()">
                <i class="icon ion-star"></i> {{ item.sticky ? "Undo sticky" : "Sticky to the top"}}
            </a>
        </div>
    </ion-content>
</ion-popover-view>