<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu side="left" expose-aside-when="large" id="side-menu">
        <ion-content padding="false" class="side-menu-left has-header" scroll="false">
            <div class="profile-img-div" style="background-image: url({{currentClub.logo}})"></div>
            <div class="welcome-message">{{ 'WELCOME' | translate }}, {{currentUser.profile.firstName}} {{currentUser.profile.lastName}}</div>
            <ion-list>
                <ion-item ui-sref-active="active" ui-sref="menu.feed" menu-close=""><i class="icon ion-ios-paper"></i> {{ 'MENU_FEED' | translate }}</ion-item>
                <ion-item ui-sref-active="active" ui-sref="menu.profile" menu-close=""><i class="icon ion-person"></i> {{ 'PROFILE' | translate }}</ion-item>
                <ion-item ng-if="showChat" ui-sref-active="active" ui-sref="menu.chats" menu-close="">
                    <i class="icon ion-chatbubbles"></i> {{ 'MENU_CHAT' | translate }}
                    <div class="menu-notification"></div>
                </ion-item>
                <ion-item ui-sref-active="active" ui-sref="menu.settings" menu-close=""><i class="icon ion-gear-a"></i> {{ 'MENU_SETTINGS' | translate }}</ion-item>
                <ion-item ng-click="logout($event)" menu-close="" class="item-complex">
                    <a class="item-content">
                        <i class="icon ion-log-out"></i> {{ 'MENU_LOG_OUT' | translate }}
                    </a>
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button></ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="side-menu-content"></ion-nav-view>
    </ion-side-menu-content>
</ion-side-menus>