<ion-view view-title="Your Profile">
    <ion-content padding="true" class="has-header main-content">
        <!--<div class="list">-->
            <!--<div class="item item-divider">-->
                <!--General settings-->
            <!--</div>-->
            <!--<label class="item item-input">-->
                <!--<span class="input-label">Email</span>-->
                <!--<input type="email" ng-model="temp_user.email">-->
            <!--</label>-->
            <!--<label class="item item-input">-->
                <!--<span class="input-label">Full name</span>-->
                <!--<input type="text" ng-model="temp_user.fullName">-->
            <!--</label>-->
            <!--<button class="button button-full button-stable" style="margin-top: 0 !important;"-->
                    <!--ng-click="changeGeneralProfileInfo()">-->
                <!--Change-->
            <!--</button>-->
        <!--</div>-->
        <div class="list">
            <div class="item item-divider">
                Change password
            </div>
            <label class="item item-input">
                <input type="password" placeholder="Old Password" ng-model="password.oldPass">
            </label>
            <label class="item item-input">
                <input type="password" placeholder="New Password" ng-model="password.newPass">
            </label>
            <label class="item item-input">
                <input type="password" placeholder="Confirmation New Password" ng-model="password.newPassCheck">
            </label>
            <button class="button button-full button-stable" style="margin-top: 0 !important;"
                    ng-click="changePassword()">
                Change password
            </button>
        </div>
    </ion-content>
</ion-view>