<ion-view title="Reset Password">
    <ion-nav-bar class="bar-stable">
    </ion-nav-bar>
    <ion-content padding="true" class="has-header main-content">
        <div style="margin-bottom: 8px">
            Please enter your new password below:
        </div>
        <label class="item item-input">
            <input type="password" ng-model="user.newPassword" placeholder="New Password"/>
        </label>
        <label class="item item-input">
            <input type="password" ng-model="user.confirmNewPassword" placeholder="Confirm New Password"/>
        </label>
        <a ng-click="resetPassword()" id="reset-password" class="button button-positive  button-block">Reset
            Password</a>
    </ion-content>
</ion-view>