<ion-view title="{{ 'RESET_PASS' | translate }}">
    <ion-nav-bar class="bar-stable">
    </ion-nav-bar>
    <ion-content padding="true" class="has-header main-content">
        <div style="margin-bottom: 8px">
            {{ 'RESET_PASS_MESSAGE' | translate }}
        </div>
        <label class="item item-input">
            <input type="password" ng-model="user.newPassword" placeholder="{{ 'NEW_PASS' | translate }}"/>
        </label>
        <label class="item item-input">
            <input type="password" ng-model="user.confirmNewPassword" placeholder="{{ 'CONFIRM_PASS' | translate }}"/>
        </label>
        <label class="item item-input">
            <input type="text" ng-model="user.token" placeholder="{{ 'TOKEN' | translate }}"/>
        </label>
        <a ng-click="resetPassword()" id="reset-password" class="button button-positive  button-block">{{ 'SAVE' | translate }}</a>
    </ion-content>
</ion-view>