<ion-view view-title="{{ 'SETTINGS' | translate }}">
    <ion-content padding="true" class="has-header main-content">
        <div class="card list">
            <div class="item item-divider">
                {{ 'GENERAL' | translate }}
            </div>

            <div class="item item-input item-select">
                <div class="input-label">{{ 'SELECT_LANG' | translate }}</div>
                <select ng-model="selectedLanguage"
                        ng-change="updateLanguage(selectedLanguage)">
                    <option value="nl">Nederlands</option>
                    <option value="en">English</option>
                </select>
            </div>
        </div>
        <div class="card list">
            <div class="item item-divider">
                {{ 'NOTIFICATIONS' | translate }}
            </div>
            <ion-toggle class="item"
                        toggle-class="toggle-positive"
                        ng-repeat="(key, value) in currentUser.profile.notifications"
                        ng-change="updateNotificationSetting(key, value)"
                        ng-model="value">
                {{key}} {{ 'NOTIFICATION' | translate }}
            </ion-toggle>
        </div>
    </ion-content>
</ion-view>