<ion-view view-title="Settings">
    <ion-content padding="true" class="has-header main-content">
        <form class="list main-content">
            <ion-toggle toggle-class="toggle-positive"
                        ng-repeat="(key, value) in currentUser.profile.notifications"
                        ng-change="toggleChange(key, value)"
                        ng-model="value">
                {{key}} notification
            </ion-toggle>
            <label class="item item-input item-select">
                <label class="input-label">Set language</label>
                <select>
                    <option>Nederlands</option>
                    <option selected>English</option>
                </select>
            </label>

        </form>
    </ion-content>
</ion-view>