<div class="modal-header">
    <h3 class="modal-title">{{ 'DELETE_TITLE' | translate }}</h3>
</div>
<div class="modal-body" data-ng-controller="accountManagementCtrl">
    {{ 'DELETE_MESSAGE' | translate }} {{ selectedUser.profile.firstName + ' ' + selectedUser.profile.lastName }}?
</div>
<div class="modal-footer">
    <button class="btn btn-danger" type="button" ng-click="delete()">{{ 'DELETE' | translate }}</button>
    <button class="btn btn-default" type="button" ng-click="cancel()">{{ 'CANCEL' | translate }}</button>
</div>