<div class="modal-header">
        <h3 class="modal-title">Are you sure?</h3>
    </div>
    <div class="modal-body" data-ng-controller="accountManagementCtrl">
        Are you sure you want to delete user {{ userService.user }}?
    </div>
<p data-ng-controller="modalInstanceCtrl">
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">Delete</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</p>