<div class="modal-header">
    <h3 class="modal-title">{{ 'FORGOT_PASS_TITLE' | translate }}</h3>
</div>
<div class="modal-body" data-ng-controller="accountManagementCtrl">
    {{ 'FORGOT_PASS_MESSAGE' | translate}}
    <br><br>
    <input type="email" id="email" class="form-control" placeholder="{{ 'EMAIL' | translate }}" ng-model="input.email">
    <br><br>
    <div ng-if="errorVisible" class="alert alert-warning">
        {{ error }}
    </div>
</div>

<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="send()">{{ 'SEND' | translate}}</button>
    <button class="btn btn-default" type="button" ng-click="cancel()">{{ 'CANCEL' | translate}}</button>
</div>