<link rel="stylesheet" href="/web/css/login.css"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>

<div class="container">
    <form class="form-signin">
        <h2 class="form-signin-heading">{{ 'Sign in' | translate }}</h2>
        <label for="inputEmail" class="sr-only">Email</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="{{ 'Email address' | translate }}" ng-model="user.email" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="{{ 'Password' | translate }}" ng-model="user.password" required>
        <div class="alert alert-warning" ng-style="errorVisible">
            {{ error }}
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="login()">{{ 'Sign in' | translate }}</button>
    </form>
</div>