<div class="header">
    <h1>{{ 'MEMBERS_TITLE' | translate }}</h1>
    <h2>{{ 'MEMBERS_SUBTITLE' | translate }}</h2>
</div>
<h2 class="content-subhead"></h2>
<a ui-sref="web.addAccount" style="font-size:18px;" class="btn btn-primary">{{ 'ADD_USER' | translate }}</a>
<table class="table table-hover">
    <thead>
    <tr>
        <th>{{ 'FIRST_NAME' | translate }}</th>
        <th>{{ 'LAST_NAME' | translate }}</th>
        <th>{{ 'EMAIL' | translate }}</th>
        <th>{{ 'TEAM' | translate }}</th>
        <th>{{ 'MEMBER_TYPE' | translate }}</th>
        <th>{{ 'ACTIVATED' | translate }}</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr id="member-row" ng-repeat="user in userAccounts">
        <td>{{user.profile.firstName}}</td>
        <td>{{user.profile.lastName}}</td>
        <td>{{user.emails[0].address}}</td>
        <td>{{user.profile.teamID}}</td>
        <td>{{ user.profile.type | translate }}</td>
        <td>
            <span ng-if="user.emails[0].verified" class="glyphicon glyphicon-ok" style="color:#449d44"></span>
            <span ng-if="!user.emails[0].verified" class="glyphicon glyphicon-remove" style="color:#c9302c"></span>
        </td>
        <td>
            <p ng-if="user.profile.type != 'pr' && user.profile.type != 'coach'" ng-click="delete(user)"
               style="float: right;"
               data-placement="top" data-toggle="tooltip" title="{{ 'DELETE' | translate }}">
                <button class="btn btn-danger btn-xs" data-title="Delete" data-target="#delete">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </p>
            <p ng-if="user.profile.type != 'pr' && user.profile.type != 'coach'" ng-click="edit(user)"
               style="float: right; margin-right: 5px;" data-placement="top" data-toggle="tooltip"
               title="{{ 'EDIT' | translate }}">
                <button class="btn btn-warning btn-xs" data-title="Edit" data-target="#edit">
                    <span class="glyphicon glyphicon-edit"></span>
                </button>
            </p>
        </td>
    </tr>
    </tbody>
</table>
