<div class="container">
    <!-- Scripts -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,700,900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/web/css/layout.css"/>
    <link rel="stylesheet" href="/web/css/side-menu.css"/>

    <a href="#menu" id="menuLink" class="menu-link" ng-click="toggleMenu()">
        <!-- Hamburger icon -->
        Hi
    </a>

    <!-- NAVIGATION BAR -->
    <div id="menu" class>
        <div class="pure-menu">
            <div id="menu-logo">
                <img src="https://placeholdit.imgix.net/~text?txtsize=19&txt=200%C3%97200&w=200&h=200">
            </div>
            <a class="pure-menu-heading" href="#">Club name</a>
            <ul>
                <li class="pure-menu-item"><a href="#" ui-sref="web.feed" class="pure-menu-link">{{ 'Feed' | translate }}</a></li>
                <li class="pure-menu-item"><a href="#" ui-sref="web.members" class="pure-menu-link">{{ 'Members' | translate }}</a></li>
                <li class="pure-menu-item"><a href="#" ui-sref="web.betting" class="pure-menu-link">{{ 'Club betting' | translate }}</a></li>
                <li class="pure-menu-item"><a href="#" ui-sref="web.settings" class="pure-menu-link">{{ 'Club settings' | translate }}</a></li>
                <li class="pure-menu-item"><a href="#" ui-sref="web.profile" class="pure-menu-link">{{ 'Profile' | translate }}</a></li>
                <li class="pure-menu-item"><a href="" ng-click="logout()" class="pure-menu-link">{{ 'Log out' | translate }}</a></li>
            </ul>
        </div>
        <div class="push"></div>
        <div id="nav-footer">
            <img src="/web/img/clubnet_logo_light.png">
            Intuitive Technologies B.V.
        </div>
    </div>

    <!-- CONTENT -->
    <div id="layout"><div ui-view></div></div>  
</div>