<div class="container">
    ​
    <blockquote>
        <p>"Good is normal for me."</p>
        <footer>Suraj Iyer</footer>
    </blockquote>
    ​
    <blockquote>
        <p>"Good work boys!"</p>
        <footer>Daniël van der Laan</footer>
    </blockquote>
    ​
    <blockquote>
        <p>"Nevermind, I'm retarded."</p>
        <footer>Koen Verhaegh</footer>
    </blockquote>
    ​
    <blockquote>
    <p>"Even Guido understood the code."</p>
    <footer>Suraj Iyer</footer>
    </blockquote>
    ​
    ​
</div>