<div class="header">
    <h1>{{ 'CLUB_SETTINGS_TITLE' | translate }}</h1>
    <h2>{{ 'CLUB_SETTINGS_SUBTITLE' | translate }}</h2>
</div>
<div class="content">
    <h2 class="content-subhead">{{ 'CLUB' | translate }}</h2>

    <form g-submit="save()">
        <div class="form-group">
            <label for="clubname">{{ 'CLUB_NAME' | translate }}</label>
            <input type="text" class="form-control" id="clubname" placeholder="{{ 'CLUB_NAME' | translate }}"
                   ng-model="currentClub.name">
        </div>
        <div class="form-group">
            <label for="clubname">{{ 'COLORS' | translate }}</label>
            <div class="block"></div>
            <div class="inline-block">
                <color-picker ng-model="currentClub.colorPrimary" color-picker-alpha="false"
                              color-picker-format="'hex'"
                              color-picker-swatch="true"
                              color-picker-swatch-only="false"
                              color-picker-swatch-bootstrap="false"></color-picker>
            </div>

            <div class="inline-block">
                <color-picker ng-model="currentClub.colorSecondary" color-picker-alpha="false"
                              color-picker-format="'hex'"
                              color-picker-swatch-only="false"
                              color-picker-swatch-bootstrap="false"></color-picker>
            </div>
            <div class="inline-block">
                <color-picker ng-model="currentClub.colorAccent" color-picker-alpha="false"
                              color-picker-format="'hex'"
                              color-picker-swatch-only="false"
                              color-picker-swatch-bootstrap="false"></color-picker>
            </div>
        </div>

        <div class="form-group">
            <label for="clublogo">{{ 'CLUB_LOGO' | translate }}</label>
            <div class="block"></div>
            <input type="file" custom-on-change="uploadFile" class="form-control" id="clublogo"
                   placeholder="{{ 'CLUB_LOGO' | translate }}" ng-model="currentClub.name">
        </div>

        <div class="form-group">
            <img ng-src="{{currentClub.logo}}" alt="logo" class="settings-club-logo"/>
        </div>

        <div ng-if="errorVisible" class="alert alert-warning">
            {{ error }}
        </div>

        <div ng-if="updatedVisible" class="alert alert-success">
            {{ 'UPDATE_CLUB_SUCCESS' | translate }}
        </div>
        <div class="form-group">
            <a ng-click="save()" id="login-button" class="btn btn-primary">{{ 'SAVE' | translate }}</a>
        </div>
    </form>
</div>